@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
@{
	Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>@Model.Name | Open Source Umbraco Cloud Test</title>
</head>
<body>
	
    @RenderBody()
    <hr />
    
</body>
</html>
