@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
@{
	Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>@Model.Name | Open Source Umbraco Cloud Test</title>
</head>
<body>
	
    @RenderBody()
    <hr />
    
    <hr />

    <p>
        <i>Master template last updated: 2025-07-29 07:47 UTC</i>
    </p>
    
</body>

</html>
